@media screen and (max-width: 991px) {
  .logo {
    height: 25px;
    width: auto;
    border-radius: 3px;
  }

  .my_name {
    letter-spacing: normal;
    display: flex;
    justify-content: center;
  }

  .container {
    min-height: calc(100vh - 93px - 232.666px);
  }

  .nav {
    list-style: none;

    & li {
      display: inline-block;
      margin-left: 20px;
    }

    & a {
      text-decoration: none;
      color: #000;
    }
  }

  .footer {
    background-image: linear-gradient(
      45deg,
      rgb(233, 229, 229),
      rgb(180, 180, 185)
    );
    font-weight: 500;
    padding: 20px 0;

    &__contact {
      list-style: none;

      ul {
        display: flex;
        list-style: none;
        width: max-content;
        margin: 0 auto;
      }

      & a .icon {
        position: relative;
        color: #262626;
        transition: 0.5s;
        z-index: 3;
      }

      & a:hover .icon {
        color: #837676;
        transform: rotateY(360deg);
      }

      & a:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f00;
        transition: 0.5s;
        z-index: 2;
      }

      & a:hover:before {
        top: 0;
      }

      & li:nth-child(1) a:before {
        background: #3b5999;
      }

      & li:nth-child(2) a:before {
        background-image: radial-gradient(#7811a8, #ff3546, #e947d3);
        background-image: -moz-linear-gradient(#ff3546, #d3c945);
      }

      & li:nth-child(3) a:before {
        background: #0077b5;
      }

      & li:nth-child(4) a:before {
        background-image: linear-gradient(
          to right,
          #5154db,
          #f70015,
          #e6e947,
          #1fce28
        );
      }

      ul li a {
        width: 50px;
        height: 40px;
        text-align: center;
        line-height: 45px;
        font-size: 35px;
        margin: 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        z-index: 1;
      }
    }
  }
}
